extends layout

block content
  h1 RESTful API
  h2  Timestamp Microservice
  p.red Example Usage
  code rp-timestamp.herokuapp.com/August 14, 2016
  br
  code rp-timestamp.herokuapp.com/123123123
  p.red Expect Output is JSON
  code { "unix": 123123123, "natural": "August 14, 2016" }
